# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE config files
.vscode/
example.PNG

# Pytest caches
__pycache__
*/__pycache__
.pytest_cache

# Hiding certain testing files for now
tests/sample4
tests/test.csv